<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/file.css' %}">
</head>
<body>
    <div class="main_sec">

        <div class="nav">

            <div class="left_nav">

                <div class="gallery_vault">
                    <p>{{user.name}} Gallery Vault</p>
                </div>
            </div>

            <div class="right_nav">
                <div class="logout">
                    <a href="../logout"><button>LOG OUT</button></a>
                </div>
            </div>
        </div>

        <div class="add_head">
            <p>Add New Memory</p>
        </div>

        <div class="form_main">
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <input type="text" name="title" placeholder="TITLE" id="">
                <input type="file" name="file" id="">
                <button type="submit">ADD</button>
            </form>
        </div>

    </div>
    <!-- <h1>{{user.name}}</h1> -->
    <!-- <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" placeholder="TITLE" id="">
        <input type="file" name="file" id="">
        <button type="submit">ADD</button>
    </form>
    <div class="main" style="display:flex; margin-top: 20px;">
        {% for i in files %}
            <div class="sub" style=" display: flex; flex-direction: column; padding: 5px;">
                <a href="{{i.file.url}}"><img src="{{i.file.url}}" alt="" width="200px"></a>
                <p>{{i.title}}</p>
            </div>
        {% endfor %}
    </div> -->

    <!-- <a href="../logout"><button>LOG OUT</button></a> -->
</body>
</html>