*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(125, 172, 151);
    align-items: center;
    height: 100vh;
}

.main_sec{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    border-radius: 20px;
}

.nav{
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(78, 128, 106);
    display: flex;
    justify-content:space-around;
    gap: 10px;
    align-items: center;
}

.gallery_vault{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-right: 100px;
}
 
.logout button{
    width: 150%;
    height: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgb(58, 96, 58);
}

.add_head{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.from_main{
    align-items: center;
    display: flex;
    justify-content: center;
}

form{
    width: 480px;
    height: 50px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}