*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(125, 172, 151);
    align-items: center;
    height: 100vh;
}

.main_sec{
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 9px 20px rgba(0,0,0,0.15);
}

.nav{
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(78, 128, 106);
    display: flex;
    justify-content:space-around;
    gap: 10px;
    align-items: center;
}

.gallery_vault{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding-right: 100px;
}
 
.logout button{
    width: 150%;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: rgb(58, 96, 58);
    font-weight: 600;
}

.add_head{
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

form{
    display: flex;
    justify-content:center;
}

form .title{
    padding-top: 3px;
}

.file{
    padding-top: 3px;
    width: 200px;
}

.add button{
    width: 80px;
    height: 25px;
    background-color:rgb(64, 97, 64);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

.memories{
    padding-top: 25px;
    padding-left: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.gallery{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.gallery_card img{
    border-radius: 5px;
}

.gallery_card p{
    text-align: center;
}

