*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(125, 172, 151);
}

.form{
    background-color: white;
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

.login_head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

.mail{
    padding-top: 30px;
    text-align: center;
}

.mail input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.pwd{
    padding-top: 20px;
    text-align: center;
}

.pwd input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.sbt_btn{
    padding-top: 20px;
    text-align: center;
}

.sbt_btn input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

