*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(125, 172, 151);
    align-items: center;
    height: 100vh;
}

.form{
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

.register_head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}

.username{
    padding-top: 30px;
    text-align: center;
}

.username input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.mail{
    padding-top: 30px;
    text-align: center;
}

.mail input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.pwd{
    padding-top: 20px;
    text-align: center;
}

.pwd input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.cnfm_pwd{
    padding-top: 20px;
    text-align: center;
}

.cnfm_pwd input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
}

.sbt_btn{
    padding-top: 20px;
    text-align: center;
}

.sbt_btn input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(171, 170, 170);
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
    font-size: 15px;
    background-color: rgb(125, 172, 151);
}

.sbt_btn input :hover{
    background-color: rgb(147, 176, 163);
}

.already_login{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}



